<header>
  <span>
    Hello <%= username %> | Today is: <%= l(Time.now, format: "%A, %d.%B %Y %H:%M") %> | Your actual balance is: <%= get_actual_balance%>
  </span>
  <span>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
  </span>
</header>