<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @account.title %>
</p>

<p>
  <b>Description:</b>
  <%= @account.description %>
</p>

<p>
  <b>Active:</b>
  <%= @account.active %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
